
body {
    font-family: Arial, sans-serif;
    background-color: lightcyan;
    margin: 20px;
    line-height: 1.6;
}


#main-name {
    color: #2c3e50;
    font-size: 36px;
}


.section-title {
    color: #34495e;
    margin-top: 20px;
}


p {
    color: #333;
    font-size: 16px;
}


ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}


img {
    border-radius: 10px;
    margin-top: 10px;
    height: auto ;
}


a {
    color: #0077cc;
    text-decoration: none;
}


a:hover {
    color: #e74c3c;
}


footer {
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
    color: gray;
}